* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
}

/*
  ========================================
  Headings
  ========================================
*/

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #fff;
}

/*
  ========================================
  Grid
  ========================================
*/

.containerOuter {
  max-width: 1140px;
  width: 60%;
  min-height: 650px;

  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 30px;

  margin: auto;
  background-color: #c5c5c5;
  box-shadow: 0 0 8px rgb(0, 0, 0);

  display: grid;
  grid-template-columns: 30% 70%;
}

.containerInnerRight {
  grid-row: 1/2;
  grid-column: 2/3;

  margin: 15px;
  padding: 0 50px;
  
  display: grid;
  grid-template-rows: 20% 80%;
}

.containerInnerLeft {
  grid-row: 1/2;
  grid-column: 1/2;

  border-right: 0.5px solid #999999;
  background-color: rgb(168, 168, 168);
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*
  ========================================
  Header
  ========================================
*/

header {
  grid-row: 1/2;
  grid-column: 2/3;

  margin: auto 0;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #999999;
}

header p {
  font-size: 1.2rem;
  font-style: italic;
}

/*
  ========================================
  Main
  ========================================
*/
main {
  grid-row: 2/3;
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

main ul li {
  padding-top: 5px;
}

/*
  ========================================
  Photo and Introduction Text
  ========================================
*/

#passphoto {
  width: 130px;
  
  border-radius: 45%;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  filter: grayscale(0.6);
}

.introductionText p {
  text-align: justify;
  letter-spacing: 0.3px;
  line-height: 1.3;
  color: #4e4e4e;
}

.introductionText p::before {
  content: open-quote;
  font-size: 1.2rem;
  color: #4e4e4e;
}

.introductionText p::after {
  content: close-quote;
  font-size: 1.2rem;
  color: #4e4e4e;
}

/*
  ========================================
  Contact Info Table
  ========================================
*/

.contactInfo td {
  padding: 0 5px 10px 5px;
}
